{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block main %}
    {{ parent() }}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bonjour {{ app.user.prenom }} {{ app.user.nom }}, <a href="{{ path('app_logout') }}">Deconection</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez -vous!</h1>
    <form class="row g-3">
        <div class="col-auto">
            <label for="staticEmail2" class="visually-hidden">Email</label>
            <input type="text"  class="form-control" id="staticEmail2" placeholder="Votre adresse mail" required autofocus>
        </div>
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Mot de passe" required>
        </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Se connecter</button>
        </div>
</form>
{% endblock %}