
{%  extends 'base.html.twig' %}

{% block title %}{{ parent() }} |{{ page_name }} {% endblock %}

{% block main %}
    <div class="text-center">
                            <h1><strong>Participant</strong></h1>
        <div>
            <label for="prenom">Nom :
                <input type="text"  value="{{ participant.nom }}">
            </label>
        </div>
        <div>
            <label for="nom">Prenom :
                <input type="text"  value="{{ participant.prenom }}">
            </label>
        </div>
        <div>
            <label for="telephone"> Telephone :
                <input type="text"  value="{{ participant.telephone}}">
            </label>
        </div>
        <div>
            <label for="email"> Email :
               <input type="text"  value="{{ participant.email }}">
            </label>
        </div>
        <br>   <br>
        <div>
            <a href="{{ path("main") }}"><button class="btn btn-primary btn-sm" type="button" name="Retour">Retour</button></a>
        </div>
        {% if is_granted('ROLE_USER') %}
        <div>
            <a href=" "><button class="btn btn-primary btn-sm" type="button" name="Retour">Modifier mon profil</button></a>
        </div>
        <div>
            <a href=" "><button class="btn btn-primary btn-sm" type="button" name="Retour">Supprimer mon compte</button></a>
        </div>
{% endif %}
    </div>

{% endblock %}