
{% extends 'base.html.twig' %}

{% block main %}

    {{ parent() }}

    <div class="container">
{# AFFICHAGE DE LA DATE DU JOUR ET DE LA PERSONNE CONNECTEE #}
        <div class="container">
{#              <p><strong>Nous sommes le : </strong><span class="date" id="date">{{ date('d/m/Y') }}</span></p>#}
            {% if app.user %}
{#                <p><strong>Bienvenue </strong> <span id="participant">{{ app.user.prenom }} {{ app.user.nom }}</span></p>#}
            {% endif %}

        </div>
{# -----------FILTRAGE DES SORTIES------------- #}
        <div class="container">
                <h1>Filter les sorties</h1>
        </div>
{# ON FILTRE PAR SITE #}
    <div class="container">
    <label for="pet-select">Site :</label>

    <select name="site">
        <option selected>Tous les sites</option>
        {% for site in sites %}
{#            <option attr-id={{site.id}} value="{{site.nom}}" >{{site.nom}}</option>#}
        {% endfor %}
        <option value="spider">Spider</option>
        <option value="goldfish">Goldfish</option>
    </select>
    </div>

{# RECHERCHE PAR MOT#}
    <div id="searchbar">
        <form action="" class="formulaire">
            <label for="searchbar"><strong>Le nom de la sortie contient :</strong></label>
            <input class="champ" type="text" name="rechercheMot" value="" placeholder="Search..."/>
        </form>
    </div>


    {# ON FILTRE PAR DATE #}
    <div class="container">
    <label for="start">Entre:</label>
    <input type="date" id="dateDebut" name="dateDebut">
{#           value="{{ date('d/m/Y') }}">#}
        <span> ET </span>
    <input type="date" id="dateFin" name="dateFin"
           value="">
    </div>

            <div class="container-sm">
{# SORTIE DONT JE SUIS L'ORGANISATEUR #}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" name="checkbox_organisateur">
                    <label class="form-check-label" for="checkbox_organisateur">
                        Afficher les sorties que j'ai organisées
                    </label>
                </div>
{# SORTIE DONT OU JE SUIS INSCRIT #}
                <div class="form-check">
                    <input class="form-check" type="checkbox" value="1" id="checkbox_inscrit">
                    <label class="form-check-label" for="checkbox_inscrit">
                        Afficher les sorties où je suis inscrit(e)
                    </label>
                </div>
{# SORTIE DONT OU JE SUIS PAS INSCRIT #}
                <div class="form-check">
                    <input class="form-check" type="checkbox" value="0" id="checkbox_noInscrit">
                    <label class="form-check-label" for="checkbox_noInscrit">
                        Sorties auxquelles je ne suis pas inscrit(e)
                    </label>
                </div>
{# SORTIES PASSEES #}
                <div class="form-check">
                    <input class="form-check" type="checkbox" value="PASSEE" id="checkbox_passee">
                    <label class="form-check-label" for="checkbox_passee">
                        Sorties passées
                    </label>
                </div>
            </div>

{# BOUTON RECHERCHER #}
    <a href="">
    <button type="button" class="btn btn-info btn-lg">Rechercher</button>
    </a>

{# LISTE DES FILTRES #}
        <div class="container">
        <div class="row">
        <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Date de cloture</th>
                <th scope="col">Inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
{# NOM DE LA SORTIE #}
            <tr class="table-success">
                <th scope="row">1</th>
                <td>{{ sortie.nom }}</td>
                <td>Mark</td>
            </tr>
{# DATE DEBUT SORTIE #}
            <tr class="table-light">
                <th scope="row">2</th>
                <td>{{ sortie.date_debut }}</td>
                <td>Jacob</td>
            </tr>
{# DATE CLOTURE #}
            <tr class="table-success">
                <th scope="row">3</th>
                <td>{{ sortie.date_cloture }}</td>
                <td colspan="2">Larry the Bird</td>
            </tr>
{# INSCRITS/PLACES #}
            <tr class="table-light">
                <th scope="row">4</th>
{#                <td>{{ sortie.Inscrit}}/{{ sortie.nbInscriptionsMax }}</td>#}
                <td>Mark</td>
            </tr>
{# ETAT DE LA SORTIE #}
            <tr class="table-success">
                <th scope="row">5</th>
                <td>{{ sortie.etat_sortie }}</td>
                <td>Jacob</td>
            </tr>
{# INSCRIT ? #}
            <tr class="table-light">
                <th scope="row">7</th>
                <td>
{#                {% if inscrit %}#}
{#                    <input type="hidden" class="inscrit"  value="1">#}
{#                    &#10006;#}
{#                {% endif %}#}
                    <input type="hidden" class="inscrit"  value="0">
                </td>
                <td>Jacob</td>
            </tr>
{# NOM ORGANISATEUR #}
            <tr class="table-light">
                <th scope="row">8</th>
                <td>{{ sortie.organisateur.nom }}</td>
                <td colspan="2">Larry the Bird</td>
            </tr>
            {% endfor %}
{# ACTIONS #}
<tr class="table-success">
    <th scope="row">8</th>
    {# LIEN AFFICHER #}
   <a href="">Afficher</a>
    {# LIEN POUR SE DESISTER OU S'INCRIRE #}
{#    {% if inscrit %}#}
{#        <a href="">Se désister</a>#}
{#    {% else %}#}
{#        <a href="">S'inscrire'</a>#}
{#    {% endif %}#}
    {# LIEN POUR MODIFIER #}
    <a href="">Modifier</a>
    {# LIEN POUR ANNULER #}
    <a href="">Annuler</a>
    <td colspan="2">Larry the Bird</td>
</tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>

{# BOUTON POUR CREER UNE SORTIE #}
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="">
                <button class="btn btn-primary" type="button">Creer une sortie</button>
                </a>
            </div>
{% endblock %}